body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  width: 100%; /* Sayfanın genişliği kadar alacak şekilde ayarlandı */
  height: 100vh; /* Sayfanın tam yüksekliğini alacak şekilde ayarlandı */
  background-color: #6bffda;
  display: flex;
  align-items: center;
  justify-content: center; /* Öğeleri dikey ve yatayda merkezde hizalamak için */
  flex-direction: column;
  color: #333;
}

input {
  height: 20px;
  padding: 5px 20px;
}

button {
  margin: 10px 0;
  border: none;
  letter-spacing: 2px;
  padding: 3px 18px;
  color: #333;
  font-size: 16px;
  background-color: #6bfdff;
  transition: 0.3s;
}

button:hover {
  color: #5476ff;
  background-color: #333;
}

ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

li {
  padding: 5px 20px;
  width: 350px;
  background-color: #9b6262;
  list-style-type: none;
  text-align: start;
  border-bottom: 2px solid #54fff9;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.7px;
}
